.end-container {
    background: #FFFFFF;
    height: 1000px;
    position: relative;
    /* 이미지 경로 설정 */
    background-size: cover; /* 컨테이너를 덮도록 설정 */
    background-position: center; /* 중앙에 배치 */
    background-repeat: no-repeat; /* 이미지 반복 없음 */
    animation: fadeIn 5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* 미디어 쿼리 */
@media (max-width: 1200px) {
    .end-main-text, .end-sub-text {
        font-size: 120px;
    }
}

@media (max-width: 992px) {
    .end-main-text, .end-sub-text {
        font-size: 90px;
    }
}

@media (max-width: 768px) {
    .end-container {
        height: 800px;
    }
    .end-main-text, .end-sub-text {
        font-size: 60px;
    }
}
