.skill-bar {
  margin: 10px 0;
}

.skill-name {
  font-size: 20px;
  font-weight: bold;
}

.skill-level-bar {
  background-color: #ddd;
  border-radius: 10px;
  overflow: hidden;
  height: 30px;
  margin-top: 5px;
}

.skill-level {
  background: linear-gradient(to right, #ff8a00, #e52e71);
  height: 100%;
  text-align: right;
  padding-right: 10px;
  box-sizing: border-box;
  color: white;
  font-weight: bold;
  border-radius: 10px;
}

/* 미디어 쿼리 */
@media (max-width: 768px) {
  .skill-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .skill-level-bar {
    width: 100%;
  }
}