.skill-container {
    background: #ffc107;
    padding: 50px;
  }
  
  .skill-header {
    width: 500px;
    margin: auto;
    text-align: center;
    font-size: 55px;
    padding-top: 30px;
    border-bottom: 1px solid gray;
    font-weight: bold;
    height: 90px;
  }
  
  .skill-content {
    display: flex;
    justify-content: space-around;
    margin: auto;
    width: 100%;
  }
  
  .skill-column {
    margin-bottom: 50px;
    text-align: center;
    width: 30%;
  }
  
  .skill-card {
    background-color: #ffffff;
    box-shadow: 1rem 1rem 1rem 1rem rgb(68 68 68 / 20%);
    border-radius: 30px;
    margin-top: 50px;
    padding: 20px;
  }
  
  .skill-title {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    height: 70px;
    font-size: 35px;
    padding-top: 40px;
    color: #F4623A;
    font-weight: bold;
    text-align: center;
  }
  
  .skill-imgs {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .skill_img {
    background-color: white;
    margin: 10px;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 15px;
  }
  
  .skill_img img {
    max-width: 100%;
    max-height: 120px;
  }
  
  .skill_desc {
    font-size: 25px;
    font-weight: bold;
    margin-top: 8px;
    text-align: left;
  }
  .skill_img:hover {
    transform: scale(1.05); 
  }
  
  /* 미디어 쿼리 */
  @media (max-width: 1200px) {
    .skill-container {
      padding: 20px;
    }
  
    .skill-column {
      width: 45%;
    }
  }
  
  @media (max-width: 768px) {
    .skill-container {
      padding: 10px;
    }
  
    .skill-content {
      flex-direction: column;
      align-items: center;
    }
  
    .skill-column {
      width: 80%;
    }
  }