body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "jamsil";
  font-weight: normal;
  src: url("./font/Jamsil.ttf") format("truetype");
}

@font-face {
  font-family: "nanum";
  font-weight: normal;
  src: url("./font/NanumSquareNeo.ttf") format("truetype");
}

@font-face {
  font-family: "pretendard";
  font-weight: normal;
  src: url("./font/Pretendard.ttf") format("truetype");
}