.mockCha {
    writing-mode: vertical-lr;
    position: fixed;
    background: rgb(85, 150, 85);
    border: none;
    width: 40px;
    height: 100px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 11px;
    border-bottom-right-radius: 11px;
    padding-left: 5px;
    font-family: "jamsil";
  }
  
  .mockCha:hover {
    background-color: rgb(51, 119, 51);
  }
  
  .title {
    margin-left: 80px;
    font-size: 25px;
    font-weight: bold;
    font-family: "jamsil";
  }
  
  .bodyList {
    font-family: "nanum";
    height: 30px;
    font-size: 22px;
    padding-bottom: 35px;
    margin-bottom: 20px;
    border-bottom: 1px solid lightgray;
  }
  
  .bodyList:hover {
    text-decoration: underline;
    text-underline-offset: 6px;
    cursor: pointer;
  }
  
  .projectDetail {
    margin-left: 30px;
    font-family: "nanum";
    font-size: 13px;
  }
  
  .projectDetail:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
    cursor: pointer;
  }

  .projectDetailList1 {
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
  }

  .projectDetailList1.show {
    max-height: 500px; /* 충분히 큰 값으로 설정합니다. */
    opacity: 1;
  }

  .projectDetailList2 {
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
  }

  .projectDetailList2.show {
    max-height: 500px; /* 충분히 큰 값으로 설정합니다. */
    opacity: 1;
  }